<.header>
  Edit Tasks <%= @tasks.id %>
  <:subtitle>Use this form to manage tasks records in your database.</:subtitle>
</.header>

<.tasks_form changeset={@changeset} action={~p"/tasks/#{@tasks}"} />

<.back navigate={~p"/tasks"}>Back to tasks</.back>
